@model MidtermVieth.Models.LoginViewModel

@{
     Layout = "_NewLayout";
        // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Now Logged In</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h1>Login successful</h1>

    </p>
    Click <a class="nav-link" asp-action="ListAccounts">here</a>
    to see account list.
</body>
</html>
